<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Amazing Spider-Man</title>
    <meta name="description" content="My MEJO 583 Project 1">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="/client.js" defer></script>
    <script src="/chart.js" defer></script>
  </head>
  <body>
    <div class="loading center-flex">
      Loading...
    </div>
    <header>
      <div class="hero-name" style="font-family: impact; float: right; font-size: 3rem; margin-right: 3rem">
        The Amazing Spider-Man
      </div>
      <div class="icon-marvel-logo-svg"></div>
    </header>

    <div class="panel white center-flex">
      
      <div class="profile">
        
      </div>
      
      
    </div>
    
    <div class="panel red center-flex">
      
      <div class="small-num">
        Spider-Man is featured in
      </div>
      <div class="comics big-num">
        
      </div>
      <div class="small-num">
        comics.
      </div>
      
    </div>
    
    <div class="panel white center-flex">
      <div class="chart-container">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>
    
    <footer>
      <p>
        Data provided by Marvel. © 2014 Marvel
      </p>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
